/* Background */
body {
  margin: 0;
  padding: 20px;
  background: lightblue;
  color: black;
}

/* Title */
h1 {
  text-align: center;
  font-size: 60px;
  font-family: Arial, sans-serif;
  margin: 10px 0 30px;
}

/* Headers */
h2 {
  font-family: Arial, sans-serif;
  font-size: 35px;
  margin: 10px 0 12px;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 25px;
  margin: 25px 0 10px;
}

/* Spacing */
p {
  line-height: 1.5;
  margin: 0 0 15px;
}

/* Green Boxed'd paragraph */
#paragraph2 {
  background: white;
  border: 5px solid green;
  padding: 20px 18px;
  width: 40%;
  margin: 2px 40px 10px;
  line-height: 1.5;
}

/* Blue Paragraphs */
.blue {
  background: navy;
  color: white;
  padding: 18px 14px;
  margin: 18px 0;
}

/* Links */
a {
  color: DarkBlue;
}

a[href*="w3schools"] {
  color: DarkRed;
}

/* List */
ol {
  list-style-type: decimal-leading-zero;
}

/* Table */
table {
  border-collapse: collapse;
}

th {
  background: lightgray;
  border: 1px solid black;
  padding: 5px 10px;
}

td {
  background: white;
  border: 1px solid black;
  padding: 5px 10px;
}
